/**
 * @author    zhengyue
 * @version   v1.0.0
 * @time      2016-04-12
 */
#banner-view,#footer-view{
    background-color: #d48a00;
    overflow: hidden;
    width: 100%;
}

#banner{
    background-image: url(../images/banner.jpg);
    height: 169px;
    overflow: hidden;
    margin: -22px auto 0 auto;
    width: 1024px;
}

#footer{
    background-image: url(../images/footer.jpg);
    height: 149px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    width: 1024px;
}

.adjust-footer{
    margin-top: 40px;
    color: #ffffff;
}

.adjust-textarea{
    resize: none;
}

#topnav{
    color: #ffffff;
    height: 22px;
    line-height: 22px;
    margin: 0 auto 0 auto;
    width: 1024px;
    z-index: 99;
    text-align: right;
}

#topnav span a{
    color: #ffffff;
}

#main-view{
    min-height: 400px;
    padding-bottom: 50px;
}